@import url(../css/fonts.css);
.conteiner {
  width: 1170px;
  margin: 0 auto;
}

h1 {
  font: 32px Okta Neue, sans-serif;
  text-align: center;
}

h3, #books, #subscribing, #finish-question {
  font: 18px Okta Neue, sans-serif;
  text-align: center;
  line-height: 18px;
  padding: 10px 0;
}

.about {
  font: 20px Okta Neue, sans-serif;
  padding-bottom: 15px;
}

.description {
  font: 600 15px Edicia Thin, serif;
  padding-bottom: 10px;
}

legend {
  font: 16px Okta Neue, sans-serif;
  padding: 0 8px 0 8px;
  color: #FFF;
  background-color: #207CE5;
  border-radius: 15px;
}

p {
  font: 600 16px Edicia Thin, serif;
  margin: 0 5px;
}

fieldset {
  border: 2px solid #207CE5;
  border-radius: 15px;
  padding: 15px;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
}

fieldset label {
  font: 900 15px Edicia Thin, serif;
  color: #000;
}

fieldset .gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px 0 7px 0;
}

.radio-btn {
  margin: 1px 0px 3px 1px;
  padding: 0 0 3px 0;
}

.checkbox {
  margin: 5px 0;
}

#date {
  margin-top: 5px;
}

input {
  border-style: none;
  border: 2px solid #207CE5;
  border-radius: 15px;
  padding: 3px 10px;
  margin: 0 0 5px 0;
  font: 600 14px Edicia Thin, serif;
}

textarea {
  width: 94%;
  resize: none;
  border-radius: 15px;
  border: 2px solid #207CE5;
  margin-bottom: 10px;
  font: 600 14px Edicia Thin, serif;
  padding: 15px;
}

#position {
  font: 600 14px Edicia Thin, serif;
  border: 2px solid #207CE5;
  border-right: 2px solid transparent;
  border-radius: 15px;
  padding: 5px;
}

#personal {
  width: 50%;
}

#email {
  width: 50%;
}

.sub-btn {
  display: block;
  position: relative;
  width: 140px;
  left: 36%;
  color: #FFF;
  background-color: #207CE5;
  font: 600 16px Okta Neue, sans-serif;
  border-style: none;
  border-radius: 15px;
  border: 2px solid transparent;
}

.sub-btn:hover {
  color: #207CE5;
  background-color: #FFF;
  border: 2px solid #207CE5;
}
